.header {
  margin: 0 0 50px 0;
  background-color: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.header__navbar {
  width: 100%;
}

.header__logo {
  color: #fff;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header__navbar-items {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 0 0 5%;
  list-style: none;
}

.header__navbar-items a {
  transition: all ease-in-out 0.1s;
  text-decoration: none;
  color: #333;
  text-align: center;
}

.header__navbar-items a:hover {
  transition: all ease-in-out 0.1s;
  color: gold;
}

.active {
  color: red;
}