.post_items img {
    width: 70px;
}

.posts {
    padding-bottom: 100px;
}
.post_items{
    display: flex;
    flex-wrap: wrap;
}
.post {
width: 250px;
}

.post__text {
    width: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}