.dialogs {
    display: flex;
    width: 200%;
    justify-content: space-between;
    transition: all 2s;
}

.dialogs-black {
    transition: all 2s;
    background-color: black;

}

.dialog {
    display: flex;
    flex-direction: column;
}

.dialogs__items {
    padding: 10px;
}

.messages {
    padding: 10px;
    transition: all 2s ease-in-out;

}

.message {
    transition: all 2s ease-in-out;
    color:  red;
}